@model CheckoutInfoViewModel
@using System.Linq.Expressions
@using LinqKit
<h1>
    Checkout</h1>
<form method="post">
<label>
    Contact Email
    @Html.TextBoxFor(m => m.Form.Email)
</label>
<div>
    <h1>
        Billing Address</h1>
    @RenderAddressFor(t => t.Form.BillingAddress)
</div>
<div>
    <label>
        @Html.CheckBoxFor(m => m.Form.ShippingIsSameAsBilling)
        My shipping address is the same as billing one</label>
</div>
<div>
    <h1>
        Shipping Address</h1>
    @RenderAddressFor(t => t.Form.ShippingAddress)
</div>
<input type="submit" />
</form>
@helper RenderAddressFor(Expression<Func<CheckoutInfoViewModel, CheckoutAddressForm>> expr)
    {
        var convert = SubformUtil.GetConverter<CheckoutInfoViewModel, CheckoutAddressForm>(expr);
                                               
    <label>
        First Name
        @Html.TextBoxFor(convert(t => t.FirstName))
    </label>
    <label>
        Last Name
        @Html.TextBoxFor(convert(t => t.LastName))
    </label>
    <label>
        Address1
        @Html.TextBoxFor(convert(t => t.Address1))
    </label>
}
