@model SharedLayoutViewModel
@{
    Model.ActiveTab = "settings";
    Layout = "../Shared/_Layout.cshtml";
}
@section head{
    @RenderSection("head", false)
}
@section subnav{
    <div@(Model.ActiveSubnav == "index" ? " class=active" : string.Empty)>
        @Html.ActionLink("General Settings", string.Empty, "Settings")
    </div>
    <span class="delim">|</span>
    <div@(Model.ActiveSubnav == "regions" ? " class=active" : string.Empty)>
        @Html.ActionLink("Taxes", string.Empty, "Regions")
    </div>
    <span class="delim">|</span>
    <div@(Model.ActiveSubnav == "shipping" ? " class=active" : string.Empty)>
        @Html.ActionLink("Shipping", string.Empty, "Shipping")
    </div>
    <span class="delim">|</span>
    <div@(Model.ActiveSubnav == "payment" ? " class=active" : string.Empty)>
        @Html.ActionLink("Payment Methods", string.Empty, "Payment")
    </div>
}
@RenderBody()
