@model SharedLayoutViewModel
<li@(Model.ActiveTab == "home" ? " class=active" : string.Empty) id="tab-home"><a href="@Url.Action(string.Empty, "Home")">
    @{
        var homeImageUrl = Url.Content("~/Areas/Admin/Content/img/" + (Model.ActiveTab == "home" ? "home-active.png" : "home.png"));
    }
    <img src="@homeImageUrl"/></a></li>
<li@(Model.ActiveTab == "orders" ? " class=active" : string.Empty)>
    @Html.ActionLink("Orders (1)", string.Empty, "Orders")
</li>
<li@(Model.ActiveTab == "customers" ? " class=active" : string.Empty)>
    @Html.ActionLink("Customers", string.Empty, "Customers")
</li>
<li@(Model.ActiveTab == "products" ? " class=active" : string.Empty)>
    @Html.ActionLink("Products", string.Empty, "Products")
</li>
<li@(Model.ActiveTab == "content" ? " class=active" : string.Empty)>
    @Html.ActionLink("Content", string.Empty, "Content")
</li>
<li@(Model.ActiveTab == "marketing" ? " class=active" : string.Empty)>
    @Html.ActionLink("Marketing", string.Empty, "Marketing")
</li>
<li class="minor@(Model.ActiveTab == "settings" ? " active" : string.Empty)">
    @Html.ActionLink("Settings", string.Empty, "Settings")
</li>
<li class="minor@(Model.ActiveTab == "maintenance" ? " active" : string.Empty)">
    @Html.ActionLink("Maintenance", string.Empty, "Maintenance")
</li>
