@model SharedLayoutViewModel
<li@(Model.ActiveTab == "home" ? " class=active" : string.Empty) id="tab-home"><a href="@Url.Action(string.Empty, "Home")">
    @{
        var homeImageUrl = Url.Content("~/Areas/Admin/Content/img/" + (Model.ActiveTab == "home" ? "home-active.png" : "home.png"));
    }
    <img src="@homeImageUrl"/></a></li>
@RenderTab("orders", "Orders", "Orders (1)")
@RenderTab("customers", "Customers", "Customers")
@RenderTab("products", "Products", "Products")
@RenderTab("content", "Content", "Content")
@RenderTab("marketing", "Marketing", "Marketing")
@RenderTab("settings", "Settings", "Settings", "minor")
@RenderTab("maintenance", "Maintenance", "Maintenance", "minor")
@helper RenderTab(string tabId, string controller, string text, string additionalClass = null)
    {
        string _class = string.Format("{0} {1}", additionalClass, Model.ActiveTab == tabId ? "active" : string.Empty).Trim();
    <li class="@_class" style="text-align: center"><a href="@Url.Action(string.Empty, controller)" style="position: relative">
        @text
    </a>
        <span class='helper'>@text</span>
    </li>
}