@model SharedLayoutViewModel
@{
    Model.ActiveTab = "products";
    Layout = "../Shared/_Layout.cshtml";
}
@section subnav{
    <div@(Model.ActiveSubnav == "add" ? " class=active" : string.Empty)>
        @Html.ActionLink("Add new product", "Add")
    </div>
    <span class="delim">|</span>
    <form@(Model.ActiveSubnav == "index" ? " class=active" : string.Empty) action="@Url.Action("Index")">
    <span class="text">Search for</span>
    @Html.TextBox("q")
    <input type="submit" value="Search" />
    </form>
    <span class="delim">|</span>
    <div@(Model.ActiveSubnav == "search" ? " class=active" : string.Empty)>
        @Html.ActionLink("Advanced search", "Search")
    </div>
    <span class="delim">|</span>
    <div@(Model.ActiveSubnav == "categories" ? " class=active" : string.Empty)>
        @Html.ActionLink("Manage Categories", string.Empty, "Categories")
    </div>
}
@RenderBody()
