@model ShippingAddRateViewModel
@{
    Model.PageTitle = "Add Shipping Rate";
    Model.ActiveSubnav = "shipping";
}
<h2>
    Add Shipping Rate to @Model.Country.Name</h2>
<form method="post">
@Html.ValidationSummary()
<div>
    Based on order's
    <label>
        @Html.RadioButtonFor(m => m.Form.Type, "Weight", new { id = "type-weight" })
        Weight
    </label>
    <label>
        @Html.RadioButtonFor(m => m.Form.Type, "Price", new { id = "type-price" })
        Price
    </label>
</div>
<div>
    <label>
        Name @Html.TextBoxFor(m => m.Form.Name)</label>
</div>
<div id="options-weight" style="display: none">
    Weight
    <label>
        from
        @Html.TextBoxFor(m => m.Form.MinWeight)
    </label>
    to
    <label>
        @Html.TextBoxFor(m => m.Form.MaxWeight) (lbs)
    </label>
</div>
<div id="options-price" style="display: none">
    Order price
    <label>
        from
        @Html.TextBoxFor(m => m.Form.MinPrice)
    </label>
    to
    <label>
        @Html.TextBoxFor(m => m.Form.MaxPrice) USD
    </label>
</div>
<div>
    <label>
        Shipping Price
        @Html.TextBoxFor(m => m.Form.ShippingPrice)
    </label>
</div>
<input type="submit" />
</form>
<script>
    $(function () {
        var _curOption;
        function setTypeOptions() {
            if (_curOption) {
                _curOption.hide();
            }
            var _checked = $("input[name=Form.Type]:radio:checked");
            if (_checked.length) {
                _curOption = $("#" + _checked[0].id.replace("type", "options")).show();
            } else {
                _curOption = null;
            }
        }
        setTypeOptions();
        $("input[name=Form.Type]:radio").click(setTypeOptions);
    });

</script>
