@model ShippingIndexViewModel
@{
    Model.PageTitle = "Shipping Options";
    Model.ActiveSubnav = "shipping";
}
<form action="@Url.Action("AddRate")">
Add shipping option to @Html.DropDownList("country", Model.AddOptionListItems)
<input type="submit" value="Go" />
</form>
<h2>
    Shipping Destinations</h2>
@foreach (var country in Model.ShippingCountries)
{
    <h1>@country.Name</h1>
    <div>
        @foreach (var rate in country.ShippingRates)
        {
            <div>
                @rate.Name - @rate.ShippingPrice
            </div>
        }
        <div>
            <a href="@Url.Action("AddRate", new { country = country.Id })">Add another shipping
                rate</a>
        </div>
    </div>
}